header {
	width: 100%;
	background-color: #ffff00;
	text-align: center;
	margin: 0 auto;
	clear: both;
	padding: 20px;
}

header h1 {
	color: #ed3133;
	font-size: 70px;
	font-style: italic;
	padding-bottom: 20px;
	margin: 0;
}

#logo {
	align-items: center;
	height: 300px;
	padding: 30px 10px 10px 10px;
}

#main-container {
	width: 100%;
	background-color: black;
	margin: 0;
	padding: 20px;
}

.inner-containers {
	border-radius: 15px;
	padding: 20px;
	clear: both;
	margin: 20px;
}

#game-container {
	width: 1000px;
	background-color: #ffff00;
	margin: 0 auto;
}

#control-panel {
	background-color: black;
	width: 50%;
	margin: 0 auto;
}

#timer {
	background-color: #ffff00;
}

#start {
	background-color: #ffff00;
}

#q_and_a {
	background-color: black;
}

#question-box {
	background-color: #ffff00;
}

#answers-box {
	background-color: #ffff00;
}

button {
	align-items: center;
}

footer {
	width: 100%;
	background-color: #ffff00;
	text-align: center;
	padding: 10px 20px;
	clear: both;
	margin: 0 auto;
}

footer h3 {
	color: #ed3133;
}

/*Mobile*/